.landing-review-container {
    margin-top: 10px;
    width: 100vw;
    border-bottom: 1px solid rgb(195, 195, 195);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-review-container>div {
    margin: 40px;
}

.landing-review-container>div>h2 {
    font-size: 28px;
    font-family: 'Poppins',
        'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;
    font-weight: 700;
}

.landing-review-container>ul {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: solid 1px red; */
    margin-bottom: 50px;
}

.landing-review-container>ul>li {
    border: 1px solid rgb(195, 195, 195);
    border-radius: 3px;
    width: 300px;
    height: 400px;
    margin: 15px;
}
.landing-review-container>ul> li> p {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15px;
}

.landing-review-container> ul > li > a > div > h3 {
    margin-top: 15px;
    margin-left: 15px;
}
.landing-review-container>ul>li>div {
    margin-top: 15px;
    margin-left: 10px;
}

.review-blurb {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 20px;
}

.landing-review-container>ul>li>h3{
    /* background-color: black; */
    font-size: 20px;
    color: #333;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-left: 15px;
    margin-top: 25px;
}