#searchbar {
    display: flex;
    width: 52vw;
    height: 48px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 5px rgba(167, 167, 167, 0.2);
    background-color: #fff;
    
}
#searchbar > form {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    z-index: 5;
}

#divider {
    border-left: 2px solid rgb(218, 218, 218);
    height: 25px;
    z-index: 5;
}

#searchbar > button {
    width: 65px;
    background-color: #d32323;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 0 3px 3px 0;
}

#searchbar > form > input{
    height: inherit;
    width: 50%;
    border: none;
    border-radius: 3px;
    padding-left: 18px;
    z-index: 5;
    transition: ease-out 0.7s;
}

#searchbar>form>input:focus {
    border-radius: 3px 3px 3px 0;
}

.searchbar-container{
    position: absolute;
    top: 60px;
    /* bottom: 0; */
    z-index: 2;
    /* width: calc(28vw - 60px); */
    width: 50%;
}

.search-button {

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' class='icon_svg'%3E%3Cpath d='M21.853 20.355l-3.444-3.443a9.428 9.428 0 10-16.761-6.171 9.428 9.428 0 0015.348 7.586l3.443 3.442a1 1 0 101.414-1.414zM5.82 16.245a7.429 7.429 0 115.253 2.175 7.38 7.38 0 01-5.253-2.176z' fill='%23FFFFFF'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 30px 30px;
    background-position: center center;
}

.search-results {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
    background-color: #fff;
    position: relative;
    /* top: 38px; */
    /* border: 1px solid rgb(218, 218, 218); */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 0px 5px 5px rgba(167, 167, 167, 0.2);
    z-index: 2;
}

li > .search-item {
    display: flex;
    margin: 15px;
    color: #333;
    text-decoration: none;
}

li>.search-item:visited {
    color: #333;
}

.search-item>img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 3px;
    margin-right: 12px;
}

.street-list {
    font-size: 13px;
}
/* test */

