/* .search-results {
    padding-top: 15px;
    padding-bottom: 5px;
    width: 50%;
    background-color: #fff;
    position: relative;
    top: 38px;
    /* border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
    z-index: 2;
} */
#searchpage {
    display: flex;
    /* width: ; */
    justify-content: flex-end;
}

#search-map {
    height: 100vh;
    width: 40%;
    position: sticky;
    top: 0;
}
.sticky {
    position: sticky;
    top:0;
    background-color: #fff;
}

#search-map > div {
    height: 100%;
    width: 100%;
}

#searchpage > ul {
    width: 55%;
    margin-left: 55px;
}

li>.search-page-item {
    
    display: flex;
    margin: 25px;
    
    color: #333;
    text-decoration: none;
}

li>.search-item:visited {
    color: #333;
}

.search-page-item>img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
    margin-right: 12px;
}

.street-list {
    font-size: 13px;
}