.modal-background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(25, 25, 25, .5);
    z-index: 2;
}

.modal-login {
    z-index: 3;
    height: 520px;
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid rgb(195, 195, 195);
    position: absolute;
    top: calc(50% - 260px);
    left: calc(50% - 200px);
}

#form-modal-container {
    margin-top: 50px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px dotted purple; */
}
#form-modal-container>img{
    width: 40px;
}

#form-modal-container > h2 {
    margin-top: 15px;
    margin-bottom: 25px;
}

#form-modal-container > .divider {
    margin: 5px;
}

#form-modal-container > p {
    margin-bottom: 20px;
    
}

.break {
    margin-top: 20px;
}
.modal-button {
    font-weight: bold;
    height: 40px;
    width: 350px;
    margin: 7px;
}


.link-color {
    cursor: pointer;
    color: #0073bb;
}
