#header {
    width: 100vw;
    /* min-width: 700px; */
    height: 10vw;
    min-height: 70px;
    max-height: 95px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.nav-sub-header {
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    /* border: 1px solid purple; */
}
.fixed-top{
    position: absolute;
    top: 0;
    left: 0;
}

.border-bottom{
    border-bottom: 1px solid #ebebeb;
}

.logo-container {
    height: 10vw;
    min-height: 70px;
    max-height: 95px;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.logo {
    height: auto;
    width: 85px;
    padding: 17px;
}

.nav-button {
    /* width: 80px; */
    /* font-weight: ; */
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    height: 44px;
    border-radius: 5px;
}

#action-container{
    display: flex;
    width: 188px; 
    justify-content: space-between;
    margin-right: 40px;
    /* border: 1px solid blue; */
}

/* .red-nav-button {
    background-color: #d32323;
    /* background-color: rgb(244, 13, 21); */
    /* background-color: rgba(224, 7, 7, 1);
    color: rgba(255, 255, 255, 1); */
    /* color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px; */
/* } */

/* .red-nav-button:hover {
    background-color: #d32323d3;
} */

/* .clear-nav-button {
    color: #666;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
} */

/* .clear-nav-button:hover {

} */ 