.review-container {
    height: 600px;
    width: 1000px;
    margin-left: 50px;
    border: 1px solid black;
}

.review-container > h1 {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
}

#review {
    height: 300px;
    width: 500px;
    /* margin-left: 50px; */
    border: 1px dotted blue;
}

#review > .textbox {
    height: 300px;
    width: 500px;
    overflow-wrap: break-word;
    border: 1px dotted blue;

}
#star-container {
    display: flex;
}

#star-container > div {
    /* margin-right: 5px; */
    padding-right: 3px;
}
