.review-container {
    height: 80vh;
    width: 750px;
    margin-left: 50px;
    margin-right: 50px;
    /* border: 1px solid black; */
}

.review-container > h1 {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 15px;
}

.review-container > button {
    margin-top: 50px;
    margin-left: 15px;
}

#review {
    height: 400px;
    width: 700px;
    /* margin-left: 50px; */
    border: 1px solid rgb(195, 195, 195);
    border-radius: 4px;
    margin-top: 40px;
    margin-left: 15px;
}

#review > .textbox {
    margin-left: 25px;
    height: 250px;
    width: 640px;
    overflow-wrap: break-word;
    /* border: 1px dotted blue; */

}

#review > .error-container {
    margin: 25px;
    color: #d32323;
}

#star-container {
    margin: 25px;
    display: flex;
    align-items: center;
    color: #6e7072
}

#star-container >div:last-child {
    margin-left: 10px;
    font-size: 14px;
}

#star-container > div {
    /* margin-right: 5px; */
    padding-right: 3px;
}
