.review-container {
    height: 108vh;
    width: 750px;
    margin-left: 50px;
    margin-right: 50px;
    /* border: 1px solid black; */
}

.review-container > h1 {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 15px;
}

.review-container > button {
    margin-top: 50px;
    margin-left: 15px;
}

#review {
    height: 400px;
    width: 700px;
    /* margin-left: 50px; */
    border: 1px solid rgb(195, 195, 195);
    border-radius: 4px;
    margin-top: 40px;
    margin-left: 15px;
}

.file-container>h2 {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 15px;
}

.show-upload-modal-placeholder {
        height: 100px;
        width: 700px;
        /* margin-left: 50px; */
        border: 1px solid rgb(195, 195, 195);
        border-radius: 4px;
        margin-top: 20px;
        margin-left: 15px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
}

.show-uploaded-container {
    margin-left: 15px;
    margin-top: 20px;
    display: flex;
}

.attach-photos-button {
    height: 100px;
    width: 100px;
    border-radius: 3px;
    border: 1px solid rgb(195, 195, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.img-preview-container {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 3px;
    margin-right: 8px;
    position: relative;
}

.img-preview {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.delete-img {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 24px;
    height: 20px;
    background-color: rgba(25, 25, 25, 0.406);
    border-radius: 5px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#review > .textbox {
    margin-left: 25px;
    height: 250px;
    width: 640px;
    overflow-wrap: break-word;
    /* border: 1px dotted blue; */

}

#review > .error-container {
    margin: 25px;
    color: #d32323;
}

#star-container {
    margin: 25px;
    display: flex;
    align-items: center;
    color: #6e7072
}

#star-container >div:last-child {
    margin-left: 10px;
    font-size: 14px;
}

#star-container > div {
    /* margin-right: 5px; */
    padding-right: 3px;
}
