.name-text {
    position: relative;
    display: inline-block;
    margin-right: 60px;
}

.name-text-tooltip {
    visibility: hidden;
    
    min-width: 80px;
    height: 20px;
    padding: 10px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;

    /* Position the text bubble */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    top: 115%;
    left: 50%;
    margin-left: -70px;
}

.name-text:hover .name-text-tooltip {
    opacity: 1;
    visibility: visible;
}

.name-text-tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 70%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.name-text-tooltip.clicked {
    display: none;
}

.name-text > img {
    height: 35px;
}

.dropdown {
    min-width: 160px;
    height: 20px;
    padding: 10px;
    background-color: #fff;;
    color: #555;
    text-align: center;
    border-radius: 3px;

    position: absolute;
    z-index: 1;
    bottom: 110%;
    top: 115%;
    left: 20%;
    margin-left: -140px;
}
.dropdown > a {
    font-weight: bold;
    cursor: pointer;
}