#business-container{
    width: 100vw;
    display: flex;
}

/* #photo-container {
    width: 100vw;
    height: 426px;
    box-shadow: inset 0 0 10px black;
    background: linear-gradient(180deg, rgba(0, 0, 0, .3), #000);
    z-index: 1;
    position: relative; 
}
#photo-container::after {
    content: "";
    position: absolute;
    top: 13vh;
    left: 0;
    width: 100vw;
    height: 426px;
    background: linear-gradient(180deg, rgba(0, 0, 0, .3), #000);
    z-index: 1;
    opacity: 0.6;
} */

#photo-container {
    width: 100vw;
    height: 426px;
    position: relative;
    /* make position relative */
}

#photo-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(197, 197, 197, 0), #000000);
    opacity: 0.85;
    pointer-events: none;
    /* pointer-events: auto; */
    /* allow pointer events to pass through */
    z-index: 1;
}

#photo-container::after {
    background: none;
    pointer-events: auto;
    /* enable pointer events for this element */
    z-index: 2;
}
 
#scroll-container {
    height: inherit;
    width: inherit;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    transition: all 0.5s ease-out;
    align-items: center;
    overflow-y: hidden;
}

#scroll-buttons {
    position: absolute;
    top: 40%;
    width: calc(100vw - 15px);
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    z-index: 2;
}
#scroll-container >img {
    height: 600px;
    display: inline-block;
    z-index: 0;
}

#top-info{
    position: absolute;
    left: 59px;
    top: 215px;
    z-index: 3;
    width: 400px;
}

#top-info > h1 {
    font-size: 48px;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0px 0px 10px rgba(167, 167, 167, 0.2);
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
}
#top-info>div {
    /* font-size: 48px;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    align-items: center; */
    margin-bottom: 15px;
}

#top-info > ul {
    width: 800px;
    display: flex;
    justify-content: flex-start;
    list-style: inside
}
#top-info>ul>li:first-child {
    list-style: none;
    /* other styles for the first and second <li> elements */
}

#top-info>ul> li{
    
    color: #fff;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-right: 15px;
    margin-bottom: 10px;
    
}

#left-scroll {
    /* border: 1px solid red; */
    width: 63vw;    
}

#action-items {
    border-bottom: 1px solid rgb(218, 218, 218);
    height: 100px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

#action-items > button {
    height: 45px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    font-size: 18px;
    margin-right: 15px;
}

#location-hours{
    /* border: 1px solid purple; */
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    height: 380px;
    border-bottom: 1px solid rgb(218, 218, 218);

}

#location-hours > div {
    /* margin-right: 30px; */
}

#location-left {
    /* border: 1px solid green;  */
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#location-left > #map {
    height: 200px;
    width: 100%;
    border: 1px solid grey;
}
#location-left> #map > div {
    height: 100%;
    width: 100%;
}

#address-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#address > li {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}
#location-left >div> ul {
    display: flex;
    /* height */
    flex-direction: column;
    justify-content: space-around;
}



#location-middle {
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
}

#location-middle>ul {
   margin-top: 70px;
}

#location-middle > ul > li {
    font-weight: bold;
    margin-left: 35px;
    margin-bottom: 15px;
}

#location-right {
    border: 1px solid yellow;
}

#about-container {
    margin-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(218, 218, 218);
    /* border: 1px solid black; */
}

#about-container > h2 {
    margin-bottom: 25px;
}

#about-container > p {
    line-height: 1.25;
}

#review-container {
    /* border: 1px solid fuchsia; */
    margin-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#rating-visualizer {
    height: 275px;
    /* border: 1px solid fuchsia; */
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(218, 218, 218);
}
#rating-visualizer >div > h4 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

#rating-visualizer > div {
    width: 30%;
}

#rating-visualizer > ul {
    height: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#right-scroll {

    border: 1px solid #ebebeb;
    width: 350px;
    margin-top: 30px;
    margin-left: 40px;
    padding: 30px;
    height: 100px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

#rating-visualizer>ul>li {
    display: flex;
    justify-content: space-between;
}

.ratings-bar{
    margin-top: 3px;
    margin-left: 25px;
    width: 450px;
    height: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

.ratings-bar > div {
        /* box-sizing: border-box; */
    display: table-cell;
    vertical-align: top;
    margin-top: 3px;
    margin-left: 25px;
    /* width: 450px; */
    /* width: 30%; */
    height: 10px;
    /* background-color: red; */
    border-radius: 5px;
}

#five-bar {
    background-color: rgb(251, 80, 60);
    /* width: 150px; */
 
}

#four-bar {
    background-color: rgb(255, 100, 61);
}

#three-bar {
    background-color: rgb(255, 135, 66);
}

#two-bar {
    background-color: rgb(255, 173, 72);
}

#one-bar {
    background-color: rgb(255, 204, 75);
}

.button-left {
    margin-left: 5px;
    border: none;
    background-color: #e0e0e046;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.button-right {
    margin-right: 5px;
    border: none;
    background-color: #e0e0e046;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
