/* TODO Add site wide styles */
@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body {
    font-family: 'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-weight: bold;
}

h2 {
    font-size: 22px;
    /* color: #d32323; */
}

.subtle {
    color: #999;
}

.small-footer {
    font-size: 12px;
}

.red-button {
    background-color: #d32323;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    transition: all 0.7s;
    transition-property: background-color, background-position, background-size, border-color;
    cursor: pointer;
}

.red-button:hover {
    background-color: #d32323d3;
    
}

.white-button {
    color: #666;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.blue-button {
    background-color: #1877f2;
    border: 1px solid #1877f2;
    border-radius: 3px;
    color: #fff;
    transition: all 0.7s;
    transition-property: background-color, background-position, background-size, border-color;
}

.blue-button:hover {
    background-color: #1876f2ca;
}

.black-button {
    color: #fff;
    background: #000;
    border: 1px solid #000;
    border-radius: 3px;
    transition: all 0.7s;
    transition-property: background-color, background-position, background-size, border-color;
}

.black-button:hover {
    background: #000000c7;
}

.clear-button {
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    transition: all 0.7s;
    transition-property: background-color, background-position, background-size, border-color;
}

.clear-button:hover {
    background-color: #ffffff6b;
}

.clear-button-outline {
        font-weight: bold;
        background-color: transparent;
        color: #333;
        border: 1px solid rgb(195, 195, 195);
        border-radius: 3px;
        transition: all 0.7s;
        transition-property: background-color, background-position, background-size, border-color;
}

.clear-buttonioutline:hover {
    background-color: #ffffff6b;
}

button {
    cursor: pointer;
}

.big-rating {
    background-image: url('./assets/stars.png');
    background-repeat: no-repeat;
    /* background-size: contain; */
    width: 178px;
    /* Adjust the width and height to match the size of the star image */
    height: 32px;
    display: inline-block;
}

.zero-stars-big {
    background-position: 0 0;
    /* Set the position to show only the top row of stars */
}

.one-half-stars-big {
    background-position: 0 -32px;
    /* Set the position to show only the top row of stars */
}

.one-star-big {
    background-position: 0 -64px;
    /* Set the position to show only the top row of stars */
}

.two-half-stars-big {
    background-position: 0 -96px;
    /* Set the position to show only the top row of stars */
}

.two-stars-big {
    background-position: 0 -128px;
    /* Set the position to show only the top row of stars */
}

.three-half-stars-big {
    background-position: 0 -160px;
    /* Set the position to show only the top row of stars */
}

.three-stars-big {
    background-position: 0 -192px;
    /* Set the position to show only the top row of stars */
}

.four-half-stars-big {
    background-position: 0 -224px;
    /* Set the position to show only the top row of stars */
}

.four-stars-big {
    background-position: 0 -256px;
    /* Set the position to show only the top row of stars */
}

.five-stars-big {
    background-position: 0 -288px;
    /* Set the position to show only the top row of stars */
}

.star-rating {
    background-image: url('./assets/stars.png');
    background-repeat: no-repeat;
    /* background-size: contain; */
    width: 32.5px;
    /* Adjust the width and height to match the size of the star image */
    height: 32px;
    display: inline-block;
}

.red-stars {
    background-position: 0 -288px;
    /* Set the position to show only the top row of stars */
}

.orange-star {
    background-position: 0 -256px;
    /* Set the position to show only the top row of stars */
}

.yellow-orange-stars {
    background-position: 0 -128px;
    /* Set the position to show only the top row of stars */
}

.yellow-stars {
    background-position: 0 -32px;
    /* Set the position to show only the top row of stars */
}