/* TODO Add site wide styles */
@import "./reset.css";
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */
body {
    font-family: 'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;
    color: #333;
    background-color: #fff;
}

h1, h2, h3 {
    font-weight: bold;
}

h2 {
    font-size: 22px;
    /* color: #d32323; */
}

.subtle {
    color: #999;
}

.small-footer {
    font-size: 12px;
}

.red-button {
    background-color: #d32323;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    transition: all 0.7s;
    transition-property: background-color, background-position, background-size, border-color;
}

.red-button:hover {
    background-color: #d32323d3;
}

.white-button {
    color: #666;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.blue-button {
    background-color: #1877f2;
    border: 1px solid #1877f2;
    border-radius: 3px;
    color: #fff;
    transition: all 0.7s;
    transition-property: background-color, background-position, background-size, border-color;
}

.blue-button:hover {
    background-color: #1876f2ca;
}

.black-button {
    color: #fff;
    background: #000;
    border: 1px solid #000;
    border-radius: 3px;
    transition: all 0.7s;
    transition-property: background-color, background-position, background-size, border-color;
}

.black-button:hover {
    background: #000000c7;
}

.clear-button {
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    transition: all 0.7s;
    transition-property: background-color, background-position, background-size, border-color;
}

.clear-button:hover {
    background-color: #ffffff6b;
}